@{

    ViewBag.Title = "display";

}

<!DOCTYPE html>

<html>

<head>

    <link rel="style" type="text/css" href="Content/Style.css">


    <meta name="viewport" content="width=device-width" />

</head>

<body background="~/Content/background.png" style="background-size:cover;background-attachment:fixed">

    <canvas id="point"> </canvas>
    <canvas id="rout"> </canvas>

    <input type="hidden" id="session" value=@Session>

    <input type="hidden" id="lat" value=@Session["lat"]>

    <input type="hidden" id="lon" value=@Session[" lon"]>

    <input type="hidden" id="first" value=@Session["first mission"]>

    <input type="hidden" id="isSaveNeeded" value=@Session["isSaveNeeded"]>

    <input type="hidden" id="recordTime" value=@Session["recordTime"]>

    <input type="hidden" id="rate" value=@Session["rate"]>

    <input type="hidden" id="isDone" value=@Session["isDone"]>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script>

        var getPoint = '@Url.Action("GetPoint", "Main")';
        var SavePoint = '@Url.Action("SavePoint", "Main")';
        var SaveToFile = '@Url.Action("SaveToFile", "Main")';


    </script>

    <script type="text/javascript" src="~/Scripts/ViewScript.js"></script>



</body>

</html>