@{
    ViewBag.Title = "display";
}
<!DOCTYPE html>
<html>
<head>

    <link rel="style" type="text/css" href="Content/Style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body background="~/Content/background.png" style="background-size:cover;background-attachment:fixed" >

    
        <canvas id="myCanvas"> </canvas>
                       
       
            
<script>

    var ctx = document.getElementById("myCanvas").getContext('2d');
    ctx.canvas.width = window.innerWidth;
    ctx.canvas.height = window.innerHeight;


    if ("True" == "@Session["first mission"]") {

        var lat = (parseFloat(@Session["lat"]) + 90) * (screen.height / 180);
        var lon = (parseFloat(@Session["lon"]) + 180) * (screen.height / 360);



        ctx.beginPath();
        ctx.arc(lat, lon, 8, 0, Math.PI * 2);
        ctx.fillStyle = "red";
        ctx.strokeStyle = "black";
        ctx.lineWidth = 3;
        ctx.fill();
        ctx.stroke();
        ctx.closePath();

    } else {

        myTimer = (function (ctx) {

            $.post("@Url.Action("GetPoint", "Main")").done(function (xml) {
                alert(xml);
                var xmlDoc = $.parseXML(xml);
                $xml = $(xmlDoc);
                var lat = (parseFloat($xml.find("lat").text()) + 90) * (screen.height / 180);
                var lon = (parseFloat($xml.find("lon").text()) + 180) * (screen.height / 360);
                alert(lat);
                alert(lon);
                
                ctx.beginPath();
                ctx.arc(lat, lon, 8, 0, Math.PI * 2);
                ctx.fillStyle = "red";
                ctx.strokeStyle = "black";
                ctx.lineWidth = 3;
                ctx.fill();
                ctx.stroke();
                ctx.closePath();

            });
        });
        setInterval(function () { myTimer(ctx); }, 1000 / Session["rate"]);

    }

</script>
</body>
</html>