@{

    ViewBag.Title = "display";

}

<!DOCTYPE html>

<html>

<head>



    <link rel="style" type="text/css" href="Content/Style.css">



    <meta name="viewport" content="width=device-width" />

</head>

<body background="~/Content/background.png" style="background-size:cover;background-attachment:fixed">

    <canvas id="point" > </canvas>
    <canvas id="rout" > </canvas>

    <input type="hidden" id="lat" value=@Session["lat"]>

    <input type="hidden" id="lon" value=@Session[" lon"]>

    <input type="hidden" id="first" value=@Session["first mission"]>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script>

    var postUrl = '@Url.Action("GetPoint", "Main")';

    </script>



    <script type="text/javascript" src="~/Scripts/ViewScript.js"></script>



</body>

</html>