
@{
    ViewBag.Title = "save";
}

<!DOCTYPE html>
<html>
<head>

    <link rel="style" type="text/css" href="Content/Style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body background="~/Content/background.png" style="background-size:cover;background-attachment:fixed">


    <canvas id="myCanvas"> </canvas>

    
</body>
</html>